<section class="newsletter-subscribe py-4 py-xl-5">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold">Weather App</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center flex-wrap">
            <div class="mb-3"><input class="form-control" type="text" [(ngModel)]="city" placeholder="City Name" />
            </div>
            <div class="mb-3"><button class="btn btn-outline-primary ms-2" (click)="search()">Get Weather</button></div>
        </div>
    </div>
</section>